/* MAIN STYLES */

:root{
    --white-color:#FFF;
    --slate-color:#434455;
    --navy-blue-color:#2E2F42;
    --cloud-color:#F4F4FD;
    --iris-color:#4D5AE5;
    --ocean-color:#404BBF;
    --cornflower-color:#E7E9FC;
    --rgba-color: rgba(0, 0, 0, 0.15);
    --light-slate-color: #8E8F99;
    --green-color: #31D0AA;
    --dairy-color: #FCFCFC;
    --cornflower: #E7E9FC;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--slate-color);
    background-color: var(--white-color);
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

img{
    display: block;
}

button {
    color: inherit;
    cursor: pointer;
    padding: 0;
}

.list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.link{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.container{
    min-width: 320px;
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container{
        max-width: 1158px;
        padding: 0 15px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER SEACTION */

.header{
    border-bottom: 1px solid var(--cornflower-color);
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav{
    display: flex;
    align-items: center;
    color: var(--navy-blue-color);
}

.header-div{
    display: flex;
    align-items: center;
}

.icon{
    color: var(--iris-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    
    margin-right: 76px;
}

.header-span{
    color: var(--navy-blue-color);
}

.header-list{
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-right: auto;
}

@media screen and (min-width: 1158px) {
    .header-address-list {
        gap: 40px;
        flex-direction: row;
    }
}

@media screen and (min-width:320px) and (max-width:767px){
    .header-list{
        display: none;
    }

    .header-address-list{
        display: none;
    }

    .header-div{
        padding: 24px 0;
    }
}

.header-link{
    padding: 24px 0px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-add{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
    .header-link-add {
        padding: 24px 0px;
    }
}

.header-link.current::after {
    background-color: var(--ocean-color);
}

.header-link::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;

    background-color: transparent;
    border-radius: 2px;
}

.header-link.current {
    color: var(--ocean-color);
}

.header-list-item{
    color: var(--navy-blue-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-list-item{
    color: var(--slate-color);
}

.link:hover, .link:focus{
    color: var(--ocean-color);
}

.svg-mobile-menu{
    fill: var(--navy-blue-color);
}

.menu-toggle-close{
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 768px) {
    .menu-toggle-close{
        display: none;
    }
}

/* SECTION 1 */

.first-section{
    background-color: var(--navy-blue-color);
    padding: 112px 0px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/hero-bg-mobile-tablet.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .first-section{
        background-position: center;
    }
}

@media screen and (min-width: 1158px) {
    .first-section {
        padding: 188px 0px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/hero-bg-desktop.jpg);
    }
}

.first-section-div{
    display: flex;
    flex-direction: column;
}

.first-section-h{
    color: var(--white-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 700;
    
    max-width: 320px;
    text-transform: capitalize;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .first-section-h{
        font-size: 56px;
        max-width: 496px;
        line-height: 1.07;
        margin-bottom: 36px;
        text-transform: none;
    }
}

@media screen and (min-width: 1158px) {
    .first-section-h{
        margin-bottom: 48px;
    }
}

.first-section-btn{
    color: var(--white-color);
    font-family: "Roboto", sans-serif;
    background-color: var(--iris-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-btn:hover, .first-section-btn:focus{
    background-color: var(--ocean-color);
}

/* BENEFITS */

.benefits-section{
    padding: 96px 0px;
}

@media screen and (min-width: 1158px) {
    .benefits-section {
        padding: 120px 0px;
    }
}

.benefits-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        flex-shrink: 0;
        gap: 72px 24px;
    }
}

.benefits-list-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (min-width: 768px) {
    .benefits-list-item {
        width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .benefits-list-item{
        width: 264px;
    }
}

.benefits-div-icon{
    display: none;
}

@media screen and (min-width: 1158px) {
    .benefits-div-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background: var(--cloud-color);
    }
}

.benefits-list-item-title {
    color: var(--navy-blue-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .benefits-list-item-title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .benefits-list-item-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
}

.benefits-list-item-p{
    color: var(--slate-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
    .benefits-list-item-p {
        font-weight: 400;
    }
}

/* DOING SECTION */

.doing-section{
    padding: 0;
}

.benefits-div {
    display: none;
}

@media screen and (min-width: 1158px) {
    .doing-section {
        padding-bottom: 120px;
    }

    .benefits-div {
        display: flex;
        flex-direction: column;
    }
    
    .doing-title {
        color: var(--navy-blue-color);
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    
        margin-bottom: 72px;
    }
    
    .doing-list {
        display: flex;
        gap: 24px;
    }
    
    .doing-list-item {
        width: calc( (100 - 24 * 2) / 3 );
    }
}

/* TEAM SECTION */

.team-section{
    padding: 96px 0px;
    color: var(--navy-blue-color);
    background-color: var(--cloud-color);
}

@media screen and (min-width: 1158px) {
    .team-section{
        padding: 120px 0px;
    }
}

.team-div{
    display: flex;
    flex-direction: column;
}

.team-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.team-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        flex-shrink: 0;
        gap: 72px 24px;
        }
}

.div-h-p{
    padding: 32px 0px;
    text-align: center;
}

.team-list-item {
    width: 264px;
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 1158px) {
    .team-list-item {
        width: calc((100 - 24*3) / 4);
    }
}

.team-list-h{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.team-list-p{
    color: var(--slate-color);
    margin-bottom: 8px;
}

.team-icon-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icon-list-item{
    width: 40px;
    height: 40px;
}

.team-icon-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-list-link:hover, .team-icon-list-link:focus{
    background-color: var(--ocean-color);
}

.team-icon{
    fill: var(--cloud-color);
}

/* CUSTOMERS SECTION */

.customers-section {
    padding: 96px 0px;
}

@media screen and (min-width: 1158px) {
    .customers-section {
        padding: 120px 0px;
    }
}

.customers-div{
    display: flex;
    flex-direction: column;
}

.customers-title{
    color: var(--navy-blue-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    
    margin-bottom: 72px;
}

.customers-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 72px 16px;
}

@media screen and (min-width: 768px) {
    .customers-list{
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .customers-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
}

.customers-list-item{
    width: 190px;
    height: 88px;
}

@media screen and (min-width: 768px) {
    .customers-list-item {
        width: 168px;
    }
}

@media screen and (min-width: 1158px) {
    .customers-list-item {
        width: calc((100% - 120px) / 6);
    }
}

.customers-list-link{
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-slate-color);
    color: var(--light-slate-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover, .customers-list-link:focus{
    border-color: #404bbf;
    color: var(--ocean-color);
}

.customers-icon{
    fill: currentColor;
}

/* FOOTER */

.footer{
    background-color: var(--navy-blue-color);
    padding: 96px 0px;
}

@media screen and (width: 1158px) {
    .footer{
        padding: 100px 0px;
}
}

.footer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .footer-div {
        width: 584px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-div{
        flex-wrap: nowrap;
        width: 1158px;
        gap: 0;
    }
}

.footer-icon-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

@media screen and (min-width:1158px) {
    .footer-icon-div{
        margin-right: 120px;
    }
}

.footer-link{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--iris-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
    .footer-link{
        text-align: left;
    }
}

.footer-span {
    color: var(--cloud-color);
}

.footer-p{
    color: var(--cloud-color);
    letter-spacing: 0.02em;
    width: 264px;
}

.social-media-div{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1158px) {
    .social-media-div{
        margin-right: 80px;
        width: 208px;
    }
}

.footer-social-media-p{
    color: var(--white-color);
    letter-spacing: 0.02em;
    width: 264px;
    margin-bottom: 16px;
    font-weight: 500;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-social-media-p{
        text-align: left;
    }
}

.footer-icon-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .footer-icon-list {
        justify-content: flex-start;
    }
}

.footer-icon-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-list-link:hover,
.footer-icon-list-link:focus {
    background-color: var(--green-color);
}

.footer-icon {
    fill: var(--cloud-color);
}

/* FOOTER FORM */

.footer-div-form{

}

.footer-form-p{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-form-p{
        text-align: left;
    }
}

.footer-form{
    display: flex;
    gap: 24px;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .footer-form{
        flex-direction: row;
    }
}

.footer-label{

}

.footer-input{
    width: 396px;
    height: 40px;
    border: 1px solid var(--white-color);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-color);
}

@media screen and (min-width: 768px) {
    .footer-input{
        width: 264px;
    }
}

.footer-input::placeholder{
    color: var(--white-color);
}

.sub-btn{
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--iris-color);
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.sub-btn-svg{
    margin-left: 16px;
    fill: var(--white-color);
}

/* PORTFOLIO */

.portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-div{
    display: flex;
    flex-direction: column;
}

.btn-list{
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.portfolio-btn{
    color: var(--iris-color);
    background-color: var(--cloud-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;

    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower-color);
    min-width: 69px;
    height: 48px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover, .portfolio-btn:focus{
    color: var(--white-color);
    background-color: var(--ocean-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.all-list{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 48px 24px;
    flex-shrink: 0;
    flex-direction: row-reverse;
}

.all-list-item{
    width: 360px;
    height: 420px;
}

.portfolio-link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link:hover .all-list-item-img-p,
.portfolio-link:focus .all-list-item-img-p {
    transform: translateY(0%);
}

.all-list-item-img{
    position: relative;
    overflow: hidden;
}

.all-list-item-img-p{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    padding: 40px 32px;
    background-color: var(--iris-color);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-div-h-p{
    padding: 32px 16px;
    border: 1px solid var(--cornflower-color);
    border-top: none;
}

.all-list-item-h{
    color: var(--navy-blue-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;

    margin-bottom: 8px;
}

.all-list-item-p{
    color: var(--slate-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* MODAL WINDOW */

.overlay{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;

    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;

    background: var(--dairy-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    fill: var(--navy-blue-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--ocean-color);
    border: none;
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon{
    fill: var(--white-color);
}

.modal-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
    margin-bottom: 16px;
}

.modal-form-btn-div{
    margin-bottom: 8px;
}

.modal-form-btn-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
    display: block;
    margin-bottom: 4px;
}

.modal-form-div{
    position: relative;
}

.modal-form-div-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-div-input:focus{
    border-color: var(--iris-color);
}

.modal-form-div-svg{
    fill: var(--navy-blue-color);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-div-input:focus + .modal-form-div-svg{
    fill: var(--iris-color);
}

.comment-div{
    margin-bottom: 16px;
}

.modal-form-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus{
    border-color: var(--iris-color);
}

.modal-form-textarea::placeholder{
    color: rgba(46, 47, 66, 0.40);
}

.pr-pol-div{
    margin-bottom: 24px;
}

.pr-pol-label{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
}

.pr-pol-label-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.pr-pol-input:checked + .pr-pol-label > .pr-pol-label-span{
    background-color: var(--ocean-color);
    border: none;
    fill: var(--cloud-color);
}

.pr-pol-label-link{
    color: var(--iris-color);
}

.form-btn{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--iris-color);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

/* MOBILE MENU */

.menu-toggle {
    min-height: 24px;
    min-width: 24px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0 24px 0 0;
    padding: 0;
    border: 1px solid var(--cornflower-color);
    border-radius: 50%;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.mobile-svg{
    border: 1px solid var(--cornflower-color);
    background-color: transparent;
}

.mobile-close-svg{
    fill: var(--navy-blue-color);
    border-color: transparent;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    padding-right: 35px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-header-menu{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
}

.mobile-header-list-item{
    color: var(--navy-blue-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.mobile-header-list-item:first-child{
    color: var(--ocean-color);
}

.mobile-header-address-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    margin-top: 284px;
}

.mobile-header-address-list-item{
    color: var(--iris-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.mobile-header-address-list-item:nth-child(2){
    color: var(--slate-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.mobile-team-icon-list {
    display: flex;
    justify-content: center;
    gap: 56px;
    margin-top: 48px;
}